git:
  repos: git@github.com:libertyfish-co/exam-master.git
  branch: master

relation:
  table:
    name: exam_masters
    columns:
      - question
      - description
    primary_key: master_uuid
  has_many:
    table:
      name: option_masters
      columns:
        - sentence
    limit: 4

default:
  exam_type: silver # silver or gold
  answer: # expect structure is Array and edit as follows.
    # - 1
    # - 4
  category: grammar # execution_environment or grammar or object_orientation or built_in_library or standard_attached_library or difficult_question
